%form.form-horizontal{action: '/posts', method: 'post'}
  %input{name: "title", placeholder: "Title?", type: "text"}/
  %textarea{"data-provide" => "markdown", name: "content", rows: "10"}
  %label.checkbox
    %input{name: "publish", type: "checkbox"}/
    Publish
  %hr/
  %button.btn{type: "submit"} Submit
