.nav a{
  padding: 0px 8px;
}
.linkButton {
  background: none;
  border: none;
  color: #428bca;
  text-decoration: none;
  cursor: pointer;
}

.links a{
   font-size: 3em;
   color: #333;
}
.links a:hover { text-decoration: none; }

.border-right {
  border-right:1px solid #e6e6e6;
}
.border-top{
  border-top:1px solid #e6e6e6;
}

.main-content{
  margin-top: 30px;
}

.nav-pills{
  margin-top: 10px
}
.bootstrap-tagsinput .tag {
margin-right: 2px;
color: white;
}
.bootstrap-tagsinput .tag a {
  color: white;
}
