.post
  .post-title.page-header
    %a{href: "#{show_url_for(post)}"}
      %h2= post.title
  .post-content
    = markdown post.content
  .label.label-default
    created at:
    =post.date.strftime('%Y-%m-%d')
  %hr

